<p>Hola,</p>

<p>La regla de automatización <b>{{meta['rule_name']}}</b> se ha deshabilitado porque tiene condiciones no válidas.</p>
<p>Esto suele ocurrir cuando elimina cualquier atributo personalizado que todavía se utiliza en las reglas de automatización.</p>

<p>
Haga clic <a href="{{action_url}}">aquí</a> para actualizar las condiciones.
</p>
