<p>Hola,</p>

<p>La importación de tus contactos ha fallado. Parece que es posible que el archivo CSV que has subido no sea válido. Le solicitamos amablemente que revise el archivo y se asegure de que cumple con el formato requerido.<p/>
