<p>Hola,</p>

<p>Su bandeja de entrada de correo electrónico se ha desconectado debido a errores de configuración. </p>
<p>Actualízalo para seguir recibiendo mensajes.</p>

<p>
Haga clic <a href="{{action_url}}">aquí</a> para volver a conectarse.
</p>
