<p>Hola,</p>

<p>Tu acceso a la bandeja de entrada de Facebook ha caducado. </p>
<p>Vuelve a conectarte a la página de Facebook para continuar recibiendo mensajes.</p>

<p>
Haga clic <a href="{{action_url}}">aquí</a> para volver a conectarse.
</p>
