<p>Hola,</p>

<p>Tu integración de Slack ha caducado. Para continuar recibiendo mensajes en Slack, elimine la integración y vuelva a conectar su espacio de trabajo. </p>

<p>
Haga clic <a href="{{action_url}}">aquí</a> para volver a conectarse.
</p>
