<p>Hola,</p>

<p>Tu acceso a Whatsapp ha caducado. </p>
<p>Vuelve a conectar Whatsapp para seguir recibiendo mensajes.</p>

<p>
Haga clic <a href="{{action_url}}">aquí</a> para volver a conectarse.
</p>
